@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500&display=swap');


* {
    box-sizing:border-box;
    width:100%;
    background-color:#FFFFFF;
}

.intro {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.line {
    width:1200px;
    height:2px;
    background-color:#000000;

}

.headers {
    text-align: center;    
    margin-top:70px;
}


h1 {
    font-size:4em;
    color:#C8AADA;
    font-family: 'Spartan', sans-serif;
    font-weight:600;
    letter-spacing:.5em;
}

h2 {
    font-size:3em;
    color:#C8AADA;
    font-family: 'Spartan', sans-serif;
    font-weight:600;
    letter-spacing: .25em;
}

h3 {
    font-size:2em;
    color:#F1D692;
    font-family: 'Spartan', sans-serif;
    font-weight:500;
    letter-spacing: .15em;
}

h4 {
    font-size:1.5em;
    color:#000000;
    font-family: 'Maitree', serif;
    font-weight:400;
}

p {
    font-size:1.25em;
    color:#6D696F;
    font-family: 'Maitree', serif;
    font-weight:400;
}

.colors {
    display:flex;
    flex-direction: row;
    justify-content: center;
}



.color_bar {
    width:300px;
    height:100px;
    margin-left:30px;
}

.one {
    background-color:#C8AADA;
}

.two{
    background-color:#F1D692;
}

.three{
    background-color:#FFFFFF;
    border:1px solid #000000;

}

.four {
    background-color:#000000;
}

.five {
    background-color:#6D696F;
}
