
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500&display=swap');


* {
    box-sizing:border-box;
    width:100%;
    background-color:#FFFFFF;
}

.headers {
    text-align: center;
}

h1 {
    font-size:2.8em;
    color:#C8AADA;
    font-family: 'Spartan', sans-serif;
    font-weight:600;
    letter-spacing:.75em;
}

h2 {
    font-size:2em;
    color:#C8AADA;
    font-family: 'Spartan', sans-serif;
    font-weight:600;
    letter-spacing: .3em;
}

h3 {
    font-size:1.6em;
    color:#F1D692;
    font-family: 'Spartan', sans-serif;
    font-weight:500;
    letter-spacing: .12em;
}

h4 {
    font-size:20px;
    color:#000000;
    font-family: 'Maitree', serif;
}

p {
    font-size:15px;
    color:#6D696F;
    font-family: 'Maitree', serif;
}

.colors {
    display:flex;
    flex-direction: row;
    justify-content: center;
}



.color_bar {
    width:250px;
    height:80px;
}

.one {
    background-color:#C8AADA;
}

.two{
    background-color:#F1D692;
}

.three{
    background-color:#FFFFFF;
    border:1px solid #000000;
}

.four {
    background-color:#000000;
}

.five {
    background-color:#6D696F;
}
